 <ion-nav-bar class="bar-dark">
  <ion-nav-back-button>
  </ion-nav-back-button>
    <ion-nav-buttons side="right">
      <span class="marginzero" ng-show="locationsearch">
      <label class="item item-input item-dark borderlocation">
  <i class="icon ion-search placeholder-icon"></i>
      <input class="searchsort" type="search"  ng-autocomplete="result1" details="details1" options="options1" placeholder="Search your location.."></input>
      
</label>
      </span>
      
      <button class="button button-clear button-light icon ion-search" ng-hide="locationsearch" ng-click="locationsearch = !locationsearch">
      </button>
    </ion-nav-buttons>
</ion-nav-bar>
   
   <ion-content class="padding has-header">
   </ion-content>