

<ion-view title="Sign Up">
	
  <ion-content class="signup-page content-bg " scroll="false" >
	  
	   <div class="spacer" style=" height:1%;"></div>
	  <h3 class="hars">Sign Up</h3>
		  	<div class="list">
			  <!--<label class="item item-input username">
			    <input type="text" placeholder="Username" ng-model="user.username">
			  </label>-->

			  <label class="item item-input email">
			    <input type="text" placeholder="Email" ng-model="user.email">
			  </label>

			  <label class="item item-input lock">
			    <input type="password" placeholder="Password" ng-model="user.password">
			  </label>
			</div>
		
			<button class="button button-blue" ng-click="createUser()">
				SIGN UP
			</button>
			
  </ion-content>
</ion-view>