<ion-tabs class="tabs-striped tabs-icon-top tabs-background-light tabs-color-positive" ng-controller="AppCtrl">
  <ion-tab title="Form" icon-on="ion-ios7-checkmark" 
      icon-off="ion-ios7-checkmark-outline" ng-click="sidemenu('/menu/bucket/notification')" >
      <ion-nav-view name=" Form"></ion-nav-view>
   </ion-tab>
   <ion-tab title="Location" icon-on="ion-plus-circled" 
      icon-off="ion-plus"  ng-click="sidemenu('/menu/bucket/list')" >
      <ion-nav-view name="bucket-list"></ion-nav-view>
   </ion-tab>
   <ion-tab title="Favourite" icon-on="ion-ios7-checkmark" 
      icon-off="ion-ios7-checkmark-outline" ng-click="sidemenu('/menu/bucket/completed')" >
      <ion-nav-view name="bucket-completed"></ion-nav-view>
   </ion-tab>
    
</ion-tabs>