<ion-nav-view class="intro">
  <ion-header-bar align-title="middle" class="bar-dark  bar">
    <button class="button button-icon icon ion-ios-arrow-back" ng-if="slides.currentSlide > 0" ng-click="slides.currentSlide = slides.currentSlide-1">
    </button>
    <!--<!--<span class="title icon ion-card " ></span>
    <span class="title icon ion-pricetag"  ></span>-->
    <span class="title icon ion-bag"  ></span>
    
    <button class="button button-clear" ui-sref="menu.overview">
      Skip
    </button>
  </ion-header-bar>
  <ion-content class="has-footer" scroll="false">
    <ion-slide-box active-slide="slides.currentSlide" on-slide-changed="slideChanged(index)">
      <ion-slide class="center pink">
        <div class="row">
          <div class="col">
            <h1>OneCard</h1>
            <div class="center-image">
              <i class="icon ion-card icon-actions margin"></i>
            </div>
            <h2>We are here for future.</h2>
            <h2>Save all your credit, debit and virtual wallets here .</h2>
             <h1>Access your money with <b> OneCard</b> .</h1>
          </div>
        </div>
      </ion-slide>
      <ion-slide class="center blue">
        <div class="row">
          <div class="col">
            <h1>Wallet</h1>
            <div class="center-image">
              <i class="icon ion-ios-paper icon-actions margin"></i>
            </div>
            <h1>Your own personalized wallet with location based feedback.</h1>
            <h2>Go to Onecard section to add your cards.</h2>
          </div>
        </div>
      </ion-slide>
      <ion-slide class="center orange">
        <div class="row">
          <div class="col">
            <h1>Get exclusive dicount</h1>
            <div class="center-image">
              <i class="icon ion-pricetags icon-actions margin"></i>
            </div>
            <p>By SAVZZ.</p>
          </div>
        </div>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
  <ion-footer-bar align-title="center"  ui-sref="signin" ng-if="slides.currentSlide == 2">
   <button class=" col  button button-positive button-clear  button-large  icon-left  ion-arrow-right-c">Get Started</button>
   
  </ion-footer-bar>
</ion-nav-view>