<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-dark">
            
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle=""></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="side-menu21"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left">
        <ion-header-bar class="bar-dark">
            <div class="title">Menu</div>
        </ion-header-bar>
        <ion-content padding="false"  ng-controller="AppCtrl" class="side-menu-left   has-header" <="" ion-content="">
            <ion-list>
                <ion-item  class="item item-icon-left" ng-click="sidemenu('/menu/overview')"  menu-close="">
                <i class="icon  ion-card"></i>Home</ion-item>
                <ion-item  class="item item-icon-left" ng-click="sidemenu('/menu/bucket/list')"  menu-close="">
                <i class="icon ion-person"></i>Account</ion-item>
                <ion-item class="item item-icon-left" ng-click="sidemenu('/menu/settings')"  menu-close="">
                <i class="icon ion-gear-b"></i>Settings</ion-item>
                <ion-item class="item item-icon-left" ng-click="sidemenu('/menu/feedback')"   menu-close="">
                <i class="icon ion-ios-list"></i>Feedback</ion-item>
                <ion-item class="item item-icon-left" ng-click="sidemenu('/menu/map')"  menu-close="">
                <i class="icon ion-android-map"></i>Map</ion-item>
                 <ion-item  class="item item-icon-left" ng-click="sidemenu('/menu/bluetooth')"  menu-close="">
                 <i class="icon ion-android-sync"></i>Sync</ion-item>
                  <ion-item   class="item item-icon-left" ng-click="sidemenu('/menu/account')"  menu-close="">
                  <i class="icon ion-android-send"></i>SWIPE</ion-item>
                  <ion-item   class="item item-icon-left" ng-click="sidemenu('/menu/test')"  menu-close="">
                  <i class="icon ion-android-send"></i>Profile</ion-item>
                 
                  <ion-item   class="item item-icon-left" ng-click="sidemenu('/menu/notification')"  menu-close="">
                  <i class="icon ion-android-send"></i>notification</ion-item>
                   <ion-item   class="item item-icon-left" ng-click="sidemenu('/menu/card')"  menu-close="">
                  <i class="icon ion-android-send"></i>card</ion-item>
                 
                
            
            <div class="spacer" style="width: 268px; height: 76px;"></div>
            <ion-list>
               
                <ion-item class="item item-icon-left" ng-click="logout()">
                    <i class="icon ion-log-out"></i>Logout</ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>