<div class="modal  slide-in-up"  ng-controller="newCtrl">
   <header class="bar bar-header  bar-dark bar-secondary">
      <button class="button button-clear button-primary" ng-click="close()">Cancel</button>
      <h1 class="title">New Card</h1>
      <button class="button button-positive" ng-click="createNew()">Done</button>
   </header>
   <ion-content class="padding has-header">
     <form name="userForm" validate >
        <h4 class="title">Enter Your Card Details</h4>
        <div class="form-group">
         <label class="item item-input item-select">
          <input type="number" placeholder="Card Number" name = "number" ng-model="data.item1" ng-minlength="16"
                ng-maxlength="16"
                required  class="form-control">
                 
    
    
          

          </label>
          <ng-messages for="userForm.number.$error">
        <ng-message when="minlength">Card Nuber is short</ng-message>
        <ng-message when="maxlength">Card Nuber is large!</ng-message>
        <ng-message when="required">Required!</ng-message>
          
        </ng-messages>
         
         <div class="form-group">
           <label class="item item-input item-select">
           <input type="text" placeholder="Card Name"  name = "name" ng-model="data.item2" ng-minlength="5"
                ng-maxlength="20"
                required
                class="form-control">
               
         </label>
         <ng-messages for="userForm.name.$error">
        <ng-message when="minlength">Your name is too short.</ng-message>
        <ng-message when="maxlength">Your name is too long.</ng-message>
        <ng-message when="required">Required!</ng-message>
          
        </ng-messages>
         

         
</div>
         </div>
           
            <div >
 <div class="form-group">
  
      
       <span class="item item-input item-select">
      <input type="number" placeholder="CVV"  name = "number1" ng-model="data.item4" ng-minlength="3"
                ng-maxlength="3"
                required
                class="form-control">
                
      </span>
      <ng-messages for="userForm.number1.$error">
        <ng-message when="minlength">CVV is too short.</ng-message>
        <ng-message when="maxlength">CVV is of 3 digits.</ng-message>
        <ng-message when="required">Required!</ng-message>
          
        </ng-messages>
      
      

 </div>
 <span class="item item-input item-select">
      <!--<input type="date" placeholder="Expiry" ng-model="data.item3">-->
      <ionic-datepicker date="currentDate" min="minDate" max="maxDate" callback="datePickerCallback">
    <button class="button button-block button-positive"> {{ currentDate | date:'MMMM/yyyy' }} </button>
</ionic-datepicker>
      </span>
</div>
         <div class="list">

  <label class="item item-input item-select">
    <div class="input-label">
      Card Type
    </div>
    <select ng-model="data.item20">
      <option>Debit</option>
      <option >Credit</option>
      <option>Wallet</option>
   
    </select>
  </label>

</div>


     
      
   </ion-content>
</div>