<div class="modal slide-in-right" style="height: 300px;" ng-controller="newPass1Ctrl">
   <header class="bar bar-header">
      <h3 class="col col-90">Filter/Sort</h3>
      <button class="button button-clear icon ion-android-close button-dark" ng-click="sfclose()"></button>
   </header>
   <ion-content class="marginzero has-header">
         Sort By 
      <ion-item class="item"> 
        <button class="button button-outline button-dark icon icon-left ">Relevance</button>
         <button class="button button-outline button-dark  icon icon-left ">Delivery Time</button>
          <button class="button button-outline button-dark  icon icon-left ">Rating</button>
           <button class="button button-outline button-dark icon icon-left ">Budget</button>
     </ion-item>
     <ion-item class=" "> 
       
     </ion-item>
    
   </ion-content>
   <ion-footer-bar class= "checkoutfooter">
       <button class="button marginzero  buttoncheckout button-full button-assertive">Apply</button>
   </ion-footer-bar>
</div>