<ion-view title="{{restaurant.name}}" ng-init="locationsearch=false">
   <ion-header-bar class="bar-light">
  <!--<ion-nav-back-button>
  </ion-nav-back-button>-->
   
      <button class="button button-clear button-light icon ion-arrow-left-c" ng-click="backToReataurant()">
      </button>
      <label class="item item-input  borderlocation">
  <i class="icon-light icon ion-search placeholder-icon"></i>
      <input class="searchsort" type="search" ng-model="searchString" ng-change="searchRD()" placeholder="Search Restaurant.."></input>
      
</label>
      
</ion-header-bar>
   
   <ion-content class="padding has-header">
    
     
    <div  class="padding" id="restaurantlist"  ng-repeat="restaurant in searchquery">
      <div   ng-if="restaurant.type == 'opened'" ng-repeat="closedrestaurant in restaurant.restaurants">
       <div    class="list card" ng-click="restaurantclick(closedrestaurant)">



  <div class="item item-image ">
    <img  class="imagerestSearch" image-lazy-src="https://res.cloudinary.com/swiggy/image/upload/c_scale,f_auto,fl_lossy,h_134,q_80,w_269/{{closedrestaurant.cloudinaryImageId}}" lazy-scroll-resize="true" image-lazy-loader="lines">
     <span class="restclosedstatus">{{closedrestaurant.nextOpenMessage}}</span>
  </div>

  <div class="">
    <div  lazy-Load lazy-Load-Data = "{{closedrestaurant.name}}" class="RestnameSearch">{{closedrestaurant.name}}</div>
    {{closedrestaurant.cuisines | cuisineFilter}}
  </div>
  </div>

  </div>
</div>     
                    
                   
                       
                         
    </div>
   </ion-content>
</ion-view>