
<ion-view title="Home">
    
    <ion-nav-buttons side="right">
      
      
      <button class="button button-clear button-light icon ion-edit" ng-click="Locationedit()">
      </button>
    </ion-nav-buttons>
       
    <ion-header-bar class="bar-subheader"> 
      <span class="marginzero col col-90">
      <label class="item item-input ">
  <i class="icon ion-search placeholder-icon"></i>
      <input class="searchsort" type="search" ng-model="searchString" ng-change="searchRD()" placeholder="Search restaurants,dishes.."></input>
      
</label>
      </span>
      <button class="button button-clear button-dark icon ion-funnel" ng-click="restaurantsort()">
        
      </button>
    
 
    </ion-header-bar>
  <ion-content lazy-scroll overflow-scroll="true" padding="true" class="has-header has-footer " ng-controller="overviewCtrl ">
    
   
 
     <div  ng-repeat="searchresult in searchquery.items">
       <a ng-click="dishclick(searchresult)"> {{searchresult}}</a>
      </div>

  


      <ion-slides class="carouselheight" >
    <ion-slide-page ng-repeat="carousel in carousels">
    
     <img class="carouselwidth" src="https://res.cloudinary.com/swiggy/image/upload/c_scale,f_auto,fl_lossy,h_134,q_80,w_269/{{carousel.creativeId}}">
    </ion-slide-page>
    
  </ion-slides>
  
         
                    <div  id="restaurantlist" ng-repeat="closedrestaurant in closedrestaurants">
         
     <div class="list card" ng-click="restaurantclick(closedrestaurant)">



  <div class="item item-image ">
    <img  class="imagerest" image-lazy-src="https://res.cloudinary.com/swiggy/image/upload/c_scale,f_auto,fl_lossy,h_134,q_80,w_269/{{closedrestaurant.cloudinaryImageId}}" lazy-scroll-resize="true" image-lazy-loader="lines">
     <span class="restclosedstatus">{{closedrestaurant.nextOpenMessage}}</span>
  </div>

  <div class="item">
    <div class="Restname">{{closedrestaurant.name}}</div>
    {{closedrestaurant.cuisine | cuisineFilter}}
  </div>
  
  <div class="item " href="#">
   
    <span><i class="rupeeenabled" ng-show="closedrestaurant.costForTwoString[0]"> &#8377
    </i>
    <i  class="rupeeenabled" ng-show="closedrestaurant.costForTwoString[1]"> &#8377
 </i>
    <i class="rupeeenabled" ng-show ="closedrestaurant.costForTwoString[2]"> &#8377
   </i>
    <i class="rupeeenabled" ng-show ="closedrestaurant.costForTwoString[3]"> &#8377
    </i>
    <i  class="rupeedisabled"  ng-hide="closedrestaurant.costForTwoString[0]"> &#8377
    </i>
    <i  class="rupeedisabled"  ng-hide="closedrestaurant.costForTwoString[1]"> &#8377
 </i>
    <i  class="rupeedisabled"  ng-hide ="closedrestaurant.costForTwoString[2]"> &#8377
   </i>
    <i  class="rupeedisabled"  ng-hide ="closedrestaurant.costForTwoString[3]"> &#8377
    </i>
    
    </span>
    <span><i class="icon ion-star energized"></i>
    {{closedrestaurant.avg_rating}}
    </span>
  </div>

</div>     
                    
                   
                       
                         
 </div>
         
    <!--<ion-infinite-scroll
  ng-if={{noMoreItemsAvailable}}
  icon="ion-loading-c"
  on-infinite="loadMoreData()"
  distance="10%">
</ion-infinite-scroll>-->
  
      <!--<ion-infinite-scroll ng-if="noMoreItemsAvailable"
    on-infinite="loadMoreData()"
    distance="2%">
  </ion-infinite-scroll>
    -->
     
    </ion-content>
    <ion-footer-bar align-title="left" class="bar-dark">
  <button class=" col col-33 marginzero button  button-assertive" ui-sref="menu.restaurant.checkout">CheckOut</button>
 
 
</ion-footer-bar>
</ion-view>