
<ion-view title="1Swiggy">
    
   
     
    <ion-nav-bar class="bar-dark">
  <!--<ion-nav-back-button>
  </ion-nav-back-button>-->
    <ion-nav-buttons side="right">
     <button class="button button-clear button-light icon ion-edit" ng-click="Locationedit()">
        <button class="button button-clear button-light icon ion-search" ng-click="search()">
      </button>
    
    </ion-nav-buttons>
</ion-nav-bar>
  <ion-content lazy-scroll overflow-scroll="true" padding="true" class="has-header has-footer " ng-controller="overviewCtrl ">
    
   
 
     <div  ng-repeat="searchresult in searchquery.items">
       <a ng-click="dishclick(searchresult)"> {{searchresult}}</a>
      </div>

  


      
  
         
                    <div  id="restaurantlist" ng-init="closedrestaurant = card.data" ng-repeat="card in cards">
                    <div class="messageTex" ng-if="card.type=='messageCard'">
                      {{card.data.message}}
                    </div>
                    <div class="separator" ng-if="card.type=='separator'">
                     
                    </div>
                <span class="headerText" ng-if="card.data.title">{{card.data.title}}</span>
           <span ng-if="card.data.subtitle">{{card.data.subtitle}}</span>
         <ion-slides ng-if="card.type=='carousel'"  class="carouselheight" >
           
    <ion-slide-page  class="ionsliderwidth" ng-repeat="carousel in card.data.cards">
    
     <img class="carouselwidth" src="https://res.cloudinary.com/swiggy/image/upload/c_scale,f_auto,fl_lossy,h_134,q_80,w_269/{{carousel.data.creativeId}}">
     <div class="textPosition">
     <div class="headerText" ng-if="carousel.data.title">{{carousel.data.title}}</div>
     <div ng-if="carousel.data.subtitle">{{carousel.data.subtitle}}</div>
     </div>
    </ion-slide-page>
     
  </ion-slides> 
  <ion-slides ng-if="card.type=='collection'"  class="carouselheight" >
          
    <ion-slide-page  class="ionsliderwidth" ng-repeat="collection in card.data.cards">
    
     <img class="carouselwidth" src="https://res.cloudinary.com/swiggy/image/upload/c_scale,f_auto,fl_lossy,h_134,q_80,w_269/{{collection.data.cloudinaryImageId}}">
     <span ng-if="carousel.data.name">{{collection.data.name}}</span>
     <span ng-if="carousel.data.slaString">{{collection.data.slaString}}</span>
    </ion-slide-page>
     
  </ion-slides> 
     <div   ng-if="card.type=='restaurant'" class="list card" ng-click="restaurantclick(closedrestaurant)">



  <div class="item item-image ">
    <img  class="imagerest" image-lazy-src="https://res.cloudinary.com/swiggy/image/upload/c_scale,f_auto,fl_lossy,h_134,q_80,w_269/{{closedrestaurant.cloudinaryImageId}}" lazy-scroll-resize="true" image-lazy-loader="lines">
     <span class="restclosedstatus">{{closedrestaurant.nextOpenMessage}}</span>
  </div>

  <div class="item">
    <div  lazy-Load lazy-Load-Data = "{{closedrestaurant.name}}" class="Restname">{{closedrestaurant.name}}</div>
    {{closedrestaurant.cuisines | cuisineFilter}}
  </div>
  
  <div  class="item " href="#">
   <span lazy-Load lazy-Load-Data = "{{closedrestaurant.name}}">
    <!--<span><i class="rupeeenabled" ng-show="closedrestaurant.costForTwoString[0]"> &#8377
    </i>
    <i  class="rupeeenabled" ng-show="closedrestaurant.costForTwoString[1]"> &#8377
 </i>
    <i class="rupeeenabled" ng-show ="closedrestaurant.costForTwoString[2]"> &#8377
   </i>
    <i class="rupeeenabled" ng-show ="closedrestaurant.costForTwoString[3]"> &#8377
    </i>
    <i  class="rupeedisabled"  ng-hide="closedrestaurant.costForTwoString[0]"> &#8377
    </i>
    <i  class="rupeedisabled"  ng-hide="closedrestaurant.costForTwoString[1]"> &#8377
 </i>
    <i  class="rupeedisabled"  ng-hide ="closedrestaurant.costForTwoString[2]"> &#8377
   </i>
    <i  class="rupeedisabled"  ng-hide ="closedrestaurant.costForTwoString[3]"> &#8377
    </i>-->
    {{closedrestaurant.costForTwoString}}
    </span>
    <span ><i class="icon ion-star energized"></i>
    {{closedrestaurant.avgRating}}
    </span>
   </span>
  </div>

</div>     
                    
                   
                       
                         
 </div>
         
    <!--<ion-infinite-scroll
  ng-if={{noMoreItemsAvailable}}
  icon="ion-loading-c"
  on-infinite="loadMoreData()"
  distance="10%">
</ion-infinite-scroll>-->
  
      <!--<ion-infinite-scroll ng-if="noMoreItemsAvailable"
    on-infinite="loadMoreData()"
    distance="2%">
  </ion-infinite-scroll>
    -->
     
    </ion-content>
    <ion-footer-bar align-title="left" class="bar-dark">
  <button class=" col col-33 marginzero button  button-assertive" ui-sref="menu.restaurant.checkout">CheckOut</button>
 
 
</ion-footer-bar>
</ion-view>