<ion-header-bar class="bar-dark">
   <h1 class="title">Pattern Lock</h1>
   
</ion-header-bar>
   <ion-content  overflow-scroll="true" padding="true" scroll="true" class="has-header">
   <div class="list card" ng-hide="log_pattern">
<div class="item item-icon-left">
<i class="icon ion-alert assertive"></i>
<h2 class="assertive">Please set your login pattern!</h2>
</div>
</div>
 <div class="list card" ng-show="log_pattern">
<div class="item item-icon-left">
<i class="icon ion-alert assertive"></i>
<h2 class="assertive">Enter Old login pattern!</h2>
</div>
</div>
<div id="lockPattern" class="pattern-holder patt-holder"></div>

  <div class="list card" ng-show="log_pattern">
<div class="item item-icon-left">
<i class="icon ion-login assertive"></i>
<h2 class="assertive">Create New login pattern!</h2>
<div id="lockPattern1" class="pattern-holder patt-holder"></div>
</div>
</div>


</ion-content>


 
     
     
    