<ion-modal-view class="ion-nifty-modal back " ng-controller="scanCtrl">
  <div class="ion-modal-content-custom">
    <ion-content class="padding backcolor">
     Scaned Devices
       <div class="list card">
         
            <div ng-repeat="" class="item item-divider">OneCard</div>
            <button ng-repeat="class in modalClasses" class="button button-full button-assertive" ng-click="connectBT1()">{{ class }}</button>
           
        </div>
       <button class="button button-full button-positive" ng-click="closeModal()">Ok</button>
       
    </ion-content>
    
  </div>
  
</ion-modal-view>
