<div class="modal slide-in-right" style="height: 300px;" ng-controller="transactionCtrl">
   <header class="bar bar-header  bar-dark bar-secondary">
      <button class="button button-clear button-primary" ng-click="close()">Cancel</button>
       
      <h1 class="title">Welcome To Hospital 1</h1>
      
      <!--<button class="button button-positive" ng-click="createNew()">Done</button>-->
   </header>
   <ion-content class="padding has-header">
          
     <button class="button button-positive"  href="javascript:"  ng-click="transaction()">Fill up the form</button>
     <button class="button button-positive" href="javascript:"   ng-click="takePhoto()">Upload a pdf</button>
     
      <img   class=" col col-offset-33 profile" style="height: 9rem;
    max-width: 9rem;" ng-src="{{image}}" >
    <div class="row title  hars">
      
   </ion-content>
   
</div>

 
     
     
    